@media (max-width: 1640px) {
	.header__nav {
		padding: 15px 50px 0px 50px;
	}
	.header__nav li:not(:last-child) {
		margin-right: 45px;
	}
	.news__men {
		margin-left: 11%;
	}
	.news__ropes::after {
		right: 15%;
	}
}

@media (max-width: 1600px) {
	.news__ropes {
		margin-right: 0;
	}

	.first .swiper-pagination-bullet {
		width: 45px;
	}
	.first .swiper-pagination-bullet-active {
		width: 100px;
	}

	.grime-2 {
		top: 9.8%;
		left: 83px;
	}
	.grime-3 {
		bottom: 37px;
		left: 17%;
	}
	.grime-1 {
		top: 13px;
		left: 0;
	}
	.grime-4 {
		top: 23%;
		left: 6%;
	}
	.hill {
		bottom: 0;
		left: 0;
		max-width: 77%;
	}
	.bg-2 {
		// bottom: -7%;
		left: 0;
	}
	.girl {
		max-width: 55%;
	}
}

@media (max-width: 1440px) {
	.header__content {
		flex: 0 0 70%;
	}

	.header__nav li:not(:last-child) {
		margin-right: 3vw;
	}
	.header__nav {
		padding: 15px 0px 0px 15px;
	}
	.header__nav li a {
		font-weight: 500;
		font-size: 17px;
	}
	.header__logo {
		flex: 0 0 97px;
	}
	.header__title {
		max-width: 196px;
		font-size: 16px;
	}
	.news__content {
		padding-top: 100px;
		padding-bottom: 150px;
	}
	.news__men {
		margin-bottom: -20px;
	}

	.news__vk {
		width: 320px;
	}

	.news__inst {
		max-width: 320px;
	}
	.inst__id {
		font-size: 25px;
	}

	.footer__text-block {
		margin-right: 50px;
	}
	.footer__logo {
		flex: 0 0 120px;
		width: 120px;
		height: 141px;
	}
	.footer__left {
		margin-right: 60px;
	}
	.partners__content {
		margin-right: 90px;
	}
	.partners__link img {
		max-width: 80%;
	}
}

@media (max-width: 1200px) {
	.header__nav {
		display: none;
	}
	.header__top {
		padding-bottom: 0;
		justify-content: center;
	}
	.header__content {
		flex: 1 1 auto;
		padding: 0px 25px 0px 0px;
	}
	.header__social {
		margin-right: 45px;
	}
	.header__social a:not(:last-child) {
		margin-right: 30px;
	}
	.header__tel {
		margin-right: 25px;
	}
	.header__burger {
		display: flex;
	}
	.events__title {
		margin-bottom: 45px;
	}
	.events {
		padding-top: 70px;
		padding-bottom: 70px;
	}

	.tabs__list {
		margin-bottom: 37px;
	}
	.tabs__item:not(:last-child) {
		margin-right: 35px;
	}
	.tabs__item {
		min-height: 60px;
		padding: 10px 40px;
		font-size: 17px;
	}
	.footer__container {
		justify-content: center;
	}
	.footer__left {
		flex: 1 1 auto;
		margin-right: 0;
		justify-content: center;
		flex-wrap: wrap;
	}
	.footer__title {
		margin-right: 0;
	}
	.footer__text-block {
		flex: 0 1 100%;
		margin-right: 0;
		padding: 0px 0px 0px 0px;
		max-width: none;
		text-align: center;
	}
	.footer__logo {
		max-width: none;
		padding: 0 15px;
	}
	.footer__dev {
		flex: 0 1 100%;
		text-align: center;
		margin-bottom: 0;
	}
	.news__container {
		position: relative;
	}
	.news__decor {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.news__men {
		margin-left: auto;
		margin-right: 0;
	}
	.news__content {
		position: relative;
		z-index: 2;
	}
	.news__ropes::before {
		left: auto;
		right: 30%;
		padding-bottom: 18.3%;
	}
	.news__ropes::after {
		padding-bottom: 53%;
		right: 6%;
	}
	.partners {
		padding-top: 90px;
		padding-bottom: 100px;
	}
	.partners__link img {
		max-width: 65%;
	}

	.partners__content {
		margin-right: 5%;
		max-width: 470px;
	}
	.partners__title {
		margin-bottom: 40px;
	}
	.partners__btn {
		margin-top: 40px;
	}

	.first .swiper-pagination-bullet {
		width: 40px;
	}
	.first .swiper-pagination-bullet-active {
		width: 90px;
	}
	.girl {
		max-width: 55%;
	}
	.parallax {
		min-height: 1000px;
		padding-top: 70px;
	}
	.slide-first__num {
		width: 70px;
		height: 89px;
		font-size: 65px;
	}
	.slide-first__month {
		height: 89px;
		font-size: 65px;
		padding: 0px 35px;
	}
	.slide-first__season {
		margin-bottom: 44px;
		font-size: 55px;
	}
	.slide-first__btn {
		min-height: 74px;
		width: 282px;
	}
}

@media (max-width: 992px) {
	.header__tel {
		display: none;
	}

	.header__content {
		flex: 0 0 auto;
		padding: 0px 25px 0px 0px;
	}

	.header__title {
		max-width: 204px;
		font-size: 17px;
	}
	.header__social {
		margin-right: 30px;
	}
	.header__social a:not(:last-child) {
		margin-right: 25px;
	}
	.tabs__item:not(:last-child) {
		margin-right: 30px;
	}
	.tabs__item {
		min-height: 60px;
		padding: 10px 30px;
		font-size: 16px;
	}
	.news__men {
		display: none;
	}
	.partners__container {
		display: block;
	}
	.partners__content {
		margin-right: 0;
		margin-bottom: 40px;
		max-width: none;
	}
	.partners__btn {
		max-width: 341px;
		min-height: 70px;
	}
	.partners__link img {
		max-width: 74%;
	}
	.slide-first::before {
		display: block;
	}
	.slide-first__container {
		justify-content: center;
	}
	.first .swiper-pagination-bullet {
		width: 35px;
	}
	.first .swiper-pagination-bullet-active {
		width: 70px;
	}

	.hill {
		bottom: 0;
		left: 0;
		max-width: 100%;
	}
	.girl {
		left: 0;
		max-width: 70%;
	}
	.parallax__content {
		padding-top: 0;
		margin-left: 0;
	}
	.title--b {
		font-size: 40px;
	}
	.parallax__title {
		margin-bottom: 50px;
	}
}

@media (max-width: 768px) {
	.header__content {
		display: none;
	}
	.events__title {
		br {
			display: none;
		}
	}
	.header__title {
		margin-right: 0;
	}
	.footer__title {
		font-size: 22px;
	}
	.news__content {
		flex: 1 1 auto;
	}
	.news__links {
		flex-direction: column;
		align-items: center;
	}
	.news__content {
		padding-top: 50px;
		padding-bottom: 80px;
	}
	.news__title {
		margin-bottom: 30px;
	}
	.news__vk {
		margin-right: 0;
		margin-bottom: 20px;
	}
	.inst {
		padding: 170px 38px 49px 38px;
	}
	.news__ropes::after {
		padding-bottom: 72%;
		right: 12%;
	}
	.news__ropes::before {
		right: 57%;
		padding-bottom: 26.3%;
	}

	.first .swiper-pagination-bullet {
		width: 30px;
		height: 7px;
	}
	.first .swiper-pagination-bullet-active {
		width: 60px;
	}
	.title--b {
		font-size: 36px;
	}
	.parallax {
		min-height: 880px;
	}
	.grime-2 {
		left: 0;
	}
	.grime-3 {
		left: 0;
	}
	.grime-4 {
		left: 0;
	}
	.parallax__subtitle {
		font-size: 18px;
	}
	.parallax__link {
		font-size: 15px;
	}
	.girl {
		bottom: 0;
	}
	.hill {
		bottom: -10px;
	}
	.bg-2 {
		bottom: -55px;
	}
	.slide-first__num {
		width: 61px;
		height: 80px;
		font-size: 52px;
	}
	.slide-first__month {
		height: 80px;
		font-size: 52px;
		padding: 0px 25px;
	}
	.slide-first__season {
		margin-bottom: 40px;
		font-size: 50px;
	}
	.slide-first__btn {
		min-height: 74px;
		width: 265px;
		font-size: 21px;
	}
}

@media (max-width: 576px) {
	.header__title {
		max-width: 224px;
		padding-left: 20px;
	}
	.header__logo {
		margin-right: 0;
	}
	.events {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.title {
		font-size: 28px;
	}
	.tabs__item {
		margin-bottom: 15px;
		line-height: 1;
		min-height: 43px;
		border-radius: 80px;
		font-size: 13px;
		flex-grow: 1;
	}

	.tabs__item:not(:last-child) {
		margin-right: 15px;
	}

	.tabs__item {
		margin-right: 15px;
	}

	.footer__container {
		flex-direction: column;
		text-align: center;
	}
	.footer__title {
		padding: 0;
	}
	.footer__text-block {
		padding: 0;
	}
	.footer__logo {
		width: 141px;
		flex: 0 0 141px;
		padding: 0;
		margin-right: 0;
		margin-bottom: 30px;
	}
	.footer__dev {
		margin-bottom: 0;
	}
	.footer {
		padding-bottom: 20px;
	}
	.events__column {
		flex: 1 0 385px;
	}
	.events__title {
		margin-bottom: 34px;
	}

	.event__top {
		padding-left: 30px;
	}
	.event__data {
		font-size: 14px;
	}
	.event__content {
		margin-top: -46px;
	}
	.event__title {
		margin-bottom: 10px;
		font-size: 20px;
	}
	.event__subtitle {
		margin-bottom: 21px;
		line-height: 1.5;
		font-size: 15px;
	}
	.event__link {
		font-size: 13px;
	}
	.event__number {
		margin-bottom: 10px;
		font-size: 60px;
	}
	.events__list {
		margin: 0px -19px 0px -19px;
	}
	.hill {
		width: 577px;
		max-width: none;
		bottom: -30px;
		left: 50%;
		transform: translateX(-50%);
	}
	.girl {
		width: 403px;
		max-width: none;
		left: 50%;
		transform: translateX(-50%);
	}
	.bg-2 {
		width: 700px;
		max-width: none;
	}
	.parallax__subtitle {
		font-size: 17px;
	}
	.parallax {
		min-height: 770px;
	}
	.parallax__title {
		margin-bottom: 40px;
	}
	.grime-1,
	.grime-2,
	.grime-3,
	.grime-4 {
		opacity: 0;
		visibility: hidden;
	}
	.slide-first__num {
		width: 56px;
		height: 75px;
		font-size: 50px;
	}
	.slide-first__month {
		height: 75px;
		font-size: 50px;
		padding: 0px 23px;
	}
	.slide-first__season {
		margin-bottom: 40px;
		font-size: 47px;
		line-height: 1.2;
	}
	.slide-first__btn {
		min-height: 65px;
		width: 255px;
		font-size: 20px;
	}
}

@media (max-width: 425px) {
	.title {
		font-size: 25px;
	}

	.header__logo {
		flex: 0 0 70px;
	}
	.header__title {
		max-width: 209px;
		font-size: 15px;
	}
	.news__vk {
		width: 100%;
	}
	.news__inst {
		max-width: none;
		width: 100%;
		padding: 70px 38px 49px 38px;
	}
	.news__content {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.events {
		padding-top: 35px;
		padding-bottom: 40px;
	}
	.event__top {
		padding-left: 20px;
	}
	.event__data {
		font-size: 11px;
		top: 74%;
	}
	.events__title {
		margin-bottom: 20px;
	}
	.tabs__item {
		margin-bottom: 10px;
	}
	.tabs__list {
		margin-bottom: 15px;
	}
	.events__column {
		flex: 1 0 280px;
	}
	.event {
		padding: 25px 20px 30px 20px;
	}

	.event__content {
		margin-top: -31px;
	}
	.event__title {
		margin-bottom: 10px;
		font-size: 17px;
	}
	.event__subtitle {
		margin-bottom: 15px;
		font-size: 14px;
	}
	.event__link {
		font-size: 11px;
	}
	.event__number {
		margin-bottom: 5px;
		font-size: 45px;
	}

	.slide-first__date {
		margin-bottom: 0;
	}

	.first .swiper-pagination-bullet {
		width: 20px;
		height: 6px;
	}
	.first .swiper-pagination-bullet-active {
		width: 40px;
	}
	.parallax__subtitle {
		font-size: 16px;
	}
	.slide-first__num {
		width: 50px;
		height: 65px;
		font-size: 40px;
	}
	.slide-first__month {
		height: 65px;
		font-size: 40px;
		padding: 0px 20px;
	}
	.slide-first__season {
		margin-bottom: 40px;
		font-size: 37px;
		line-height: 1.2;
	}
	.slide-first__btn {
		min-height: 55px;
		width: 240px;
		font-size: 16px;
	}
}

@media (max-width: 360px) {
	.header {
		padding: 10px 0px 10px 0px;
	}
	.header__burger {
		width: 35px;
		height: 23px;
	}
	.header__title {
		max-width: 171px;
		font-size: 12px;
	}
	.header__logo {
		flex: 0 0 60px;
	}
	.inst__id {
		font-size: 22px;
	}
	.inst__title {
		font-size: 18px;
	}

	.news__vk {
		max-width: 100;
		width: 280px;
	}
	.news__inst {
		padding: 90px 25px 49px 25px;
		max-width: 100%;
	}
}
