.container {
	max-width: 1640px;
	padding: 0 20px;
	margin: 0 auto;
}

html,
body {
	font-size: 16px;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.title {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.28;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #2c2c2c;
	&--b {
		font-size: 48px;
		line-height: 1.2;
	}
}

.red {
	color: #e31e24;
}

.footer-text {
	font-size: 12px;
	line-height: 1.5;
	letter-spacing: 0.05em;
	color: #000000;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0 0 0 0);
}

.disable-scroll {
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.main {
	flex: 1 1 auto;
	&--grey {
		background-color: #f4f4f4;
	}
	&--eb {
		background-color: #ebebeb;
	}
}
.main-ev {
	max-width: 1137px;
	width: 100%;
	@media (max-width: 992px) {
		order: 1;
	}
}

.ev-cont {
	display: flex;
	justify-content: space-between;
	@media (max-width: 992px) {
		flex-direction: column;
	}
}

.ev-sect {
	position: relative;
}

.trail-block {
	display: flex;
	flex-direction: column;
	// .trail-block__date
	&__date {
		font-size: 14px;
		margin-bottom: 30px;
	}
	// .trail-block__link-title
	&__link-title {
		margin-bottom: 26px;
	}
	// .trail-block__title
	&__title {
		font-size: 20px;
		font-weight: 700;
		line-height: lh(30, 20);
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #000;
	}
	// .trail-block__subtitle
	&__subtitle {
		margin-bottom: 27px;
		font-size: 16px;
		line-height: lh(26, 16);
		letter-spacing: 0.05em;
	}
	// .trail-block__more
	&__more {
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 0.05em;
		color: #d60007;
	}
	&__tlg {
		font-size: 14px;
		margin-bottom: 20px;
	}
}

.date {
	color: #d60007;
	letter-spacing: 0.05em;
}

.tlg {
	color: #5e81a8;
}

.type-style {
	h1 {
		margin-bottom: 35px;
		@media (max-width: 992px) {
			@include adaptiv(margin-bottom, 35, 20, 992, 320);
		}
	}
	p,
	h2,
	h3,
	h4,
	h5,
	h6,
	ul,
	ol,
	table {
		margin-bottom: 25px;
		@media (max-width: 992px) {
			@include adaptiv(margin-bottom, 25, 15, 992, 320);
		}
	}
	p {
		font-size: 18px;
		line-height: lh(26, 18);
		@media (max-width: 992px) {
			@include adaptiv(font-size, 18, 15, 992, 320);
		}
	}

	h1 {
		font-weight: 900;
		font-size: 36px;
		line-height: 1.28;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		@media (max-width: 1200px) {
			@include adaptiv(font-size, 36, 25, 1200, 320);
		}
	}
	h2 {
		font-weight: 900;
		font-size: 30px;
		line-height: 1.33;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		@media (max-width: 1200px) {
			@include adaptiv(font-size, 30, 16, 1200, 320);
		}
	}

	h3 {
		font-weight: 900;
		font-size: 24px;
		line-height: lh(34, 24);
		letter-spacing: 0.05em;
		text-transform: uppercase;
		@media (max-width: 1200px) {
			@include adaptiv(font-size, 24, 15, 1200, 320);
		}
	}

	h4 {
		font-weight: 700;
		font-size: 20px;
		line-height: lh(30, 20);
		letter-spacing: 0.05em;
		text-transform: uppercase;
		@media (max-width: 1200px) {
			@include adaptiv(font-size, 20, 14, 1200, 320);
		}
	}

	h5 {
		font-weight: 700;
		font-size: 16px;
		line-height: lh(30, 16);
		letter-spacing: 0.05em;
		text-transform: uppercase;
		@media (max-width: 992px) {
			@include adaptiv(font-size, 16, 13, 992, 320);
		}
	}
	ul,
	ol {
		margin-bottom: 23px;
		li {
			font-size: 20px;
			line-height: 1.5;
			@media (max-width: 992px) {
				@include adaptiv(font-size, 20, 15, 992, 320);
			}
			&:not(:last-child) {
				margin-bottom: 15px;
				@media (max-width: 992px) {
					@include adaptiv(margin-bottom, 15, 7, 992, 320);
				}
			}
		}
	}

	ul li {
		position: relative;
		padding-left: 10px;
		&::before {
			content: "";
			position: absolute;
			top: 0.6em;
			left: 0;
			width: 4px;
			height: 4px;
			border-radius: 100%;
			background-color: #8ca03a;
			overflow: hidden;
		}
	}
	ol {
		counter-reset: info;
		list-style-type: none;
		li {
			position: relative;
			padding-left: 30px;
		}
		li::before {
			counter-increment: info;
			content: counter(info) "/";
			position: absolute;
			top: 0.05em;
			left: 0;
			color: #8ca03a;
		}
	}
	.table {
		overflow-x: auto;
		&.on-grey {
			tr:nth-child(2n + 1) {
				background: #fff;
			}
			tr {
				background: #f4f4f4;
			}
			td {
				border-left: 3px solid #f4f4f4;
				border-right: 3px solid #f4f4f4;
				&:first-child {
					border-left: none;
				}
				&:last-child {
					border-right: none;
				}
			}
		}
	}
	table {
		border-collapse: collapse;
		width: 100%;
		min-width: 420px;
		font-size: 14px;
		@media (max-width: 768px) {
			font-size: 15px;
		}
		@media (max-width: 425px) {
			font-size: 14px;
		}
		th {
			padding: 15px 30px;
			line-height: 1.62;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			color: #ffffff;
			border-left: 3px solid #fff;
			border-right: 3px solid #fff;
			border-bottom: 3px solid #fff;
			background: #000000;
			text-align: center;
			font-weight: 400;
			@media (max-width: 992px) {
				padding: 10px 20px;
			}
			@media (max-width: 768px) {
				padding: 10px 15px;
			}
			&:first-child {
				border-left: none;
			}
			&:last-child {
				border-right: none;
			}
		}
		td {
			padding: 12px 22px;
			line-height: 1.3;
			letter-spacing: 0.05em;
			color: #000;
			border-left: 3px solid #fff;
			border-right: 3px solid #fff;
			@media (max-width: 992px) {
				padding: 10px 20px;
			}
			@media (max-width: 768px) {
				padding: 10px 15px;
			}
			&:first-child {
				border-left: none;
			}
			&:last-child {
				border-right: none;
			}
		}
		tr {
			background: #fff;
		}
		tr:nth-child(2n + 1) {
			background: #f4f4f4;
		}
	}
}

.top-ev {
	// .top-ev__title
	&__title {
		margin-bottom: 51px;
	}
	// .top-ev__subtitle
	&__subtitle {
		font-size: 30px;
		font-weight: 900;
		line-height: 1.33;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #000000;
	}
	// .top-ev__link
	&__link {
		display: inline-block;
		margin-top: 32px;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.62;
		letter-spacing: 0.05em;
		text-decoration-line: underline;
		color: #d60007;
		padding-left: 33px;
		background: url("../img/download.svg") 0 50% / contain no-repeat;
	}
}

.aside-ev {
	flex: 0 0 530px;
	width: 100%;
	max-width: 530px;
	margin-left: 50px;
	margin-right: calc((100vw - 100%) / -2);
	padding: 200px 80px 60px 80px;
	background: #d60007;
	@media (min-width: 1921px) {
		position: absolute;
		top: 0;
		left: calc(50% + 430px);
		height: 100%;
	}
	// .aside-ev__list
	&__list {
		margin-bottom: 86px;
		li {
			&:not(:last-child) {
				margin-bottom: 35px;
			}
			&.current a {
				padding-left: 16px;
				&::before {
					content: "";
					position: absolute;
					top: 0.5em;
					left: 0;
					width: 7px;
					height: 7px;
					background-color: #fff;
					border-radius: 100%;
				}
				&::after {
					left: 16px;
				}
				&:hover {
					&::after {
						width: calc(100% - 16px);
					}
				}
			}
		}

		a {
			font-weight: 900;
			font-size: 20px;
			line-height: 1.3;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			color: #ffffff;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0px;
				width: 0px;
				height: 1px;
				background: #fff;
				transition: width 0.3s;
			}
			&:hover {
				&::after {
					width: 100%;
				}
			}
		}
	}
	// .aside-ev__action
	&__action {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 10px;
		max-width: 206px;
		min-height: 41px;
		background: #ffffff;
		border-radius: 49px;
		color: #000;
		font-size: 14px;
		line-height: 1.7;
		font-weight: 700;
		text-transform: uppercase;
		transition: color 0.3s;
		&:hover {
			color: #d60007;
		}
	}
}

.select2-container--default .select2-selection--single {
	border: none;
	border-bottom: 1px solid #000000;
	border-radius: 0;
	background-color: transparent;
	height: 35px;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder,
.select2-container--default .select2-selection--single .select2-selection__rendered,
input.tabs__select::placeholder {
	font-size: 18px;
	line-height: 1.44;
	letter-spacing: 0.05em;
	color: #000000;
	@media (max-width: 992px) {
		font-size: 16px;
	}
	@media (max-width: 425px) {
		font-size: 14px;
	}
}

.select2-container .select2-selection--single .select2-selection__rendered {
	padding-left: 20px;
}

.select2-results__option {
	@media (max-width: 425px) {
		font-size: 14px;
	}
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color: #2b2a29 transparent transparent transparent;
}

@keyframes logo {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

@keyframes rope {
	100% {
		transform: rotate(20deg);
	}
}

@keyframes rope-2 {
	100% {
		transform: rotate(10deg);
	}
}
