@import "_fonts.scss";
@import "_variables.scss";
@import "_reset.scss";
@import "_overall.scss";
@import "_burger.scss";

// Header ====================================================================================

.header {
	background: #ffffff;
	padding: 14px 0px 18px 0px;
	// .header__container
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .header__logo
	&__logo {
		flex: 0 0 109px;
		margin-right: 28px;
	}
	// .header__title
	&__title {
		max-width: 233px;
		padding-right: 20px;
		margin-right: auto;
		font-weight: bold;
		font-size: 18px;
		line-height: 1.33;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #2c2c2c;
	}
	// .header__content
	&__content {
	}
	// .header__top
	&__top {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding-bottom: 21px;
	}
	// .header__social
	&__social {
		display: flex;
		align-items: center;
		margin-right: 116px;

		a {
			&:not(:last-child) {
				margin-right: 39px;
			}
		}
	}
	// .header__vk
	&__vk {
	}
	// .header__inst
	&__inst {
	}
	// .header__tel
	&__tel {
		margin-right: 46px;
		font-weight: bold;
		font-size: 20px;
		line-height: 1.2;
		letter-spacing: 0.05em;
		color: #2c2c2c;
	}
	// .header__btn
	&__btn {
		padding: 10px 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 206px;
		min-height: 50px;
		background: #e31e24;
		border-radius: 49px;
		font-weight: bold;
		font-size: 14px;
		line-height: 1.71;
		text-transform: uppercase;
		color: #fefefe;
	}
	// .header__nav
	&__nav {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 15px 94px 0px 79px;
		border-top: 1px solid #e3e3e3;

		li {
			&:not(:last-child) {
				margin-right: 76px;
			}

			a {
				font-weight: 500;
				font-size: 18px;
				line-height: 1.33;
				color: #000000;
				transition: font-weight 0.3s, color 0.3s;

				@media (min-width: 992px) {
					&:hover {
						font-weight: 500;
						color: #e31e24;
					}
				}
			}
		}

		.current-menu-item a {
			font-weight: 500;
			color: #e31e24;
		}
	}
}

// First ===========================================================================================

.first {
}

// Reasons =============================================================================================

.reasons {
	padding-top: 157px;
	padding-bottom: 93px;
	// .reasons__container
	&__container {
		display: flex;
		justify-content: space-between;
	}
	// .reasons__left
	&__left {
	}
	// .reasons__right
	&__right {
		max-width: 782px;
	}
	&__title {
		max-width: 477px;
	}
	// .reasons__list
	&__list {
		display: flex;
		align-items: stretch;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin: 0 -20px;
	}
	// .reasons__item
	&__column {
		flex: 1 0 274px;
		padding: 0px 20px 61px 20px;
		&--help {
			overflow: hidden !important;
			visibility: hidden !important;
			opacity: 0 !important;
			height: 0 !important;
			max-height: 0 !important;
			min-height: 0 !important;
			padding-top: 0 !important;
			padding-bottom: 0 !important;
			margin-top: 0 !important;
			margin-bottom: 0 !important;
		}
	}
}

.reason {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	padding: 21px 0px 0px 0px;
	position: relative;
	overflow: hidden;
	@media (min-width: 992px) {
		&:hover::before {
			left: 99%;
			transform: translateX(-100%);
		}
	}
	// .reason__number
	&__number {
		margin-bottom: 18px;
		font-weight: 900;
		font-size: 36px;
		line-height: 1.28;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #e31e24;
		position: relative;
		z-index: 2;
	}
	// .reason__title
	&__title {
		margin-bottom: 15px;
		font-weight: 900;
		font-size: 24px;
		line-height: 1.42;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #000000;
		position: relative;
		z-index: 2;
	}
	// .reason__subtitle
	&__subtitle {
		font-size: 16px;
		line-height: 26px;
		letter-spacing: 0.05em;
		position: relative;
		z-index: 2;
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 14px;
		width: 113px;
		height: 199px;
		background: url("../img/arrow-reasons.svg") 0 0 no-repeat;
		transition: left 1s ease, transform 1s ease;
	}
}

// Events ===========================================================================================

.events {
	background: #ebebeb;
	padding-top: 98px;
	padding-bottom: 118px;
	// .events__container
	&__container {
	}
	// .events__title
	&__title {
		max-width: 846px;
		margin-bottom: 66px;
	}
	// .events__list
	&__list {
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
		margin: 0px -19px 20px -19px;
	}
	// .events__column
	&__column {
		flex: 1 0 546px;
		padding: 0px 19px 39px 19px;
	}
}

.tabs {
	// .tabs__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 57px;
	}
	// .tabs__item
	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 79px;
		padding: 10px 58px;
		margin-bottom: 20px;
		font-weight: bold;
		font-size: 18px;
		line-height: 2.56;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #fefefe;
		background: #c4c4c4;
		border-radius: 100px;

		&:not(:last-child) {
			margin-right: 42px;
		}

		&.active {
			background: #e31e24;
			color: #fefefe;
		}
	}
	// .tabs__body
	&__body {
	}
	// .tabs__block
	&__block {
		display: none;

		&.active {
			display: block;
		}
	}
	// .tabs__btn-load
	&__btn-load {
		display: block;
		margin: 0 auto;
		font-weight: bold;
		font-size: 16px;
		line-height: 30px;
		letter-spacing: 0.05em;
		text-decoration-line: underline;
		text-transform: uppercase;
		color: #e31e24;
	}
}

.event {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 30px 30px 40px 30px;
	background: #ffffff;
	box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.1);
	// .event__top
	&__top {
		padding-left: 39px;
		position: relative;
	}
	// .event__content
	&__content {
		display: flex;
		flex-direction: column;
		margin-top: -69px;
		flex: 1 1 auto;
	}
	// .event__data
	&__data {
		font-weight: 900;
		font-size: 18px;
		line-height: 1.44;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #000000;
		transform: rotate(-90deg);
		position: absolute;
		top: 40%;
		left: -51px;
		z-index: 2;
	}
	// .event__image
	&__image {
		padding-bottom: 63%;
		position: relative;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	// .event__number
	&__number {
		margin-bottom: 20px;
		font-weight: 900;
		font-size: 96px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #e31e24;
		position: relative;
		z-index: 2;
	}
	// .event__title
	&__title {
		margin-bottom: 23px;
		font-weight: bold;
		font-size: 24px;
		line-height: 1.08;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #000000;
	}
	// .event__subtitle
	&__subtitle {
		margin-bottom: 35px;
		line-height: 26px;
		letter-spacing: 0.05em;
		flex: 1 1 auto;
	}
	// .event__links
	&__links {
		display: flex;
		justify-content: space-between;
	}
	// .event__link
	&__link {
		padding-bottom: 2px;
		font-weight: bold;
		font-size: 16px;
		line-height: 1.62;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #e31e24;
		border-bottom: 4px solid #e31e24;
		&--about {
			color: #c4c4c4;
			border-bottom: 4px solid #c4c4c4;
		}
	}
	// .event__link--about
}

// Partners ============================================================================

.partners {
	// .partners__container
	&__container {
		display: flex;
	}
	// .partners__content
	&__content {
		max-width: 507px;
		margin-right: 135px;
	}
	// .partners__animate
	&__animate {
		margin-right: -calc((100vw - 100%) / 2);
		background-color: aqua;
		height: 300px;
	}
}

// Media ===========================================================================================

@import "_media.scss";
