@import "_fonts.scss";
@import "_variables.scss";
@import "_reset.scss";
@import "_overall.scss";
@import "_burger.scss";
@import "_modal.scss";
@import "_polit-modal.scss";

// mob-menu =================================================================================

.mob-menu {
	position: fixed;
	right: -150%;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 50px 15px 30px 15px;
	border-radius: 20px 0 0 20px;
	z-index: 888;
	background: #ebebeb;
	width: 320px;
	height: 100%;
	overflow: auto;
	box-shadow: 0 0 7px #9e9e9e4d;
	transition: right 0.4s, visibility 0.4s;

	&.active {
		visibility: visible;
		right: 0;
	}

	// .mob-menu__close
	&__close {
		width: 25px;
		height: 25px;
		position: absolute;
		top: 20px;
		right: 20px;
		background-color: transparent;
		cursor: pointer;

		@media (min-width: 992px) {
			&:hover.mob-menu__close::after,
			&:hover.mob-menu__close::before {
				background-color: #358bee;
			}
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: calc(50% - 1px);
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #000;
			transition: background-color 0.3s;
		}
		&::before {
			transform: rotate(-45deg);
		}
		&::after {
			transform: rotate(45deg);
		}
	}
	// .mob-menu__title
	&__title {
		margin-bottom: 30px;
		font-weight: 600;
		font-size: 20px;
		text-transform: uppercase;
	}
	// .mob-menu__content
	&__content {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
	}
	// .mob-menu__top
	&__top {
		padding-bottom: 21px;
	}
	// .mob-menu__social
	&__social {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 40px;

		a {
			&:not(:last-child) {
				margin-right: 39px;
			}
		}
	}
	// .mob-menu__vk
	&__vk {
	}
	// .mob-menu__inst
	&__inst {
	}
	// .mob-menu__tel
	&__tel {
		display: block;
		text-align: center;
		margin-bottom: 40px;
		font-weight: bold;
		font-size: 20px;
		line-height: 1.2;
		letter-spacing: 0.05em;
		color: #2c2c2c;
	}
	// .mob-menu__btn
	&__btn {
		padding: 10px 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 206px;
		min-height: 50px;
		background: #e31e24;
		border-radius: 49px;
		font-weight: bold;
		font-size: 14px;
		line-height: 1.71;
		text-transform: uppercase;
		color: #fefefe;
	}
	// .mob-menu__nav
	&__nav {
		flex: 1 1 auto;
		margin-bottom: 30px;
		li {
			&:not(:last-child) {
				margin-bottom: 20px;
			}

			a {
				font-weight: 500;
				font-size: 20px;
				line-height: 1.33;
				color: #000000;
				transition: font-weight 0.3s, color 0.3s;

				@media (min-width: 992px) {
					&:hover {
						font-weight: 500;
						color: #e31e24;
					}
				}
			}
		}

		.current-menu-item a {
			font-weight: 500;
			color: #e31e24;
		}
	}
}

// Header ====================================================================================

.header {
	background: #ffffff;
	padding: 14px 0px 18px 0px;
	// .header__container
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .header__logo
	&__logo {
		flex: 0 0 109px;
		margin-right: 28px;
	}
	// .header__title
	&__title {
		max-width: 233px;
		padding-right: 20px;
		margin-right: auto;
		font-weight: bold;
		font-size: 18px;
		line-height: 1.33;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #2c2c2c;
	}
	// .header__content
	&__content {
	}
	// .header__top
	&__top {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding-bottom: 21px;
	}
	// .header__social
	&__social {
		display: flex;
		align-items: center;
		margin-right: 116px;

		a {
			&:not(:last-child) {
				margin-right: 39px;
			}
		}
	}
	// .header__vk
	&__vk {
	}
	// .header__inst
	&__inst {
	}
	// .header__tel
	&__tel {
		margin-right: 46px;
		font-weight: bold;
		font-size: 20px;
		line-height: 1.2;
		letter-spacing: 0.05em;
		color: #2c2c2c;
		transition: color 0.3s;
		@media (min-width: 992px) {
			&:hover {
				color: #ca0006;
			}
		}
	}
	// .header__btn
	&__btn {
		padding: 10px 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 206px;
		min-height: 50px;
		background: #e31e24;
		border-radius: 49px;
		font-weight: bold;
		font-size: 14px;
		line-height: 1.71;
		text-transform: uppercase;
		color: #fefefe;
		cursor: pointer;
		transition: background-color 0.3s;
		@media (min-width: 992px) {
			&:hover {
				background: #ca0006;
			}
		}
	}
	// .header__nav
	&__nav {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 15px 94px 0px 79px;
		border-top: 1px solid #e3e3e3;

		li {
			&:not(:last-child) {
				margin-right: 76px;
			}

			a {
				font-weight: 500;
				font-size: 18px;
				line-height: 1.33;
				color: #000000;
				transition: font-weight 0.3s, color 0.3s;

				@media (min-width: 992px) {
					&:hover {
						font-weight: 500;
						color: #e31e24;
					}
				}
			}
		}

		.current-menu-item a {
			font-weight: 500;
			color: #e31e24;
		}
	}
}

// First ===========================================================================================

.first {
	min-height: 1120px;
	display: flex;

	// .first__slider-container
	&__slider-container {
		flex-grow: 1;
		min-width: 0;
	}
	// .first__slider
	&__slider {
		height: 100%;
	}

	.swiper-pagination {
		bottom: 155px;
	}

	.swiper-pagination-bullet {
		width: 62px;
		height: 9px;
		background: #fefefe;
		border-radius: unset;
		opacity: 1;
		transition: width 0.3s;
		&:not(:last-child) {
			margin-right: 18px;
		}
	}

	.swiper-pagination-bullet-active {
		width: 146px;
		background: #e31e24;
	}
}
.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {
}
.slide-first {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		display: none;
	}
	// .slide-first__container
	&__container {
		display: flex;
		height: 100%;
		position: relative;
		z-index: 1;
	}
	// .slide-first__content
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-left: 22px;
		padding-top: 57px;
	}
	// .slide-first__date
	&__date {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 15px;
	}
	// .slide-first__num
	&__num {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100px;
		height: 124px;
		background: #e31e24;
		font-family: "Russo One";
		font-size: 100px;
		text-transform: uppercase;
		color: #ffffff;
		&:not(:last-child) {
			margin-right: 12px;
		}
	}
	// .slide-first__month
	&__month {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 124px;
		padding: 0px 42px;
		background: #e31e24;
		font-family: "Russo One";
		font-size: 100px;
		text-transform: uppercase;
		color: #ffffff;
		background: #2c2c2c;
	}
	// .slide-first__season
	&__season {
		margin-bottom: 27px;
		font-weight: 900;
		font-size: 70px;
		text-align: center;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #2c2c2c;
	}
	// .slide-first__btn
	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 94px;
		width: 311px;
		padding: 10px 20px;
		background: #e31e24;
		border-radius: 49px;
		font-weight: bold;
		font-size: 30px;
		text-transform: uppercase;
		color: #fefefe;
		transition: background-color 0.3s;
		@media (min-width: 992px) {
			&:hover {
				background: #ca0006;
			}
		}
	}
}

// Parallax ===================================================================================================

.parallax {
	position: relative;
	height: 1035px;
	// .parallax__block
	&__block {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		img {
			position: absolute;
			transition: top 0.2s, bottom 0.2s;
		}
	}

	&__container {
	}

	// .parallax__content
	&__content {
		padding-top: 117px;
		margin-left: auto;
		max-width: 690px;
		position: relative;
		z-index: 3;
	}
	// .parallax__title
	&__title {
		margin-bottom: 86px;
	}
	// .parallax__subtitle
	&__subtitle {
		margin-bottom: 24px;
		font-size: 20px;
		line-height: 1.5;
		letter-spacing: 0.05em;
		color: #2c2c2c;
	}
	// .parallax__link
	&__link {
		font-weight: 700;
		line-height: 1.5;
		letter-spacing: 0.05em;
		color: #e31e24;
		text-transform: uppercase;
		text-decoration: underline;
	}
}

.grime-2 {
	top: 158px;
	left: 83px;
}
.grime-3 {
	bottom: 37px;
	left: 283px;
}
.grime-1 {
	top: 13px;
	left: 0;
}
.grime-4 {
	top: 374px;
	left: 108px;
}
.hill {
	bottom: 0;
	left: 0;
}
.bg-2 {
	bottom: -113px;
	left: 0;
}
.girl {
	bottom: 37px;
	left: 0;
	transition: transform 0.15s;
}

// Reasons =============================================================================================

.reasons {
	padding-top: 157px;
	padding-bottom: 93px;
	// .reasons__container
	&__container {
		display: flex;
		justify-content: space-between;
	}
	// .reasons__left
	&__left {
		position: relative;
	}
	// .reasons__number
	&__number {
	}
	// .reasons__right
	&__right {
		max-width: 782px;
	}
	&__title {
		max-width: 477px;
		position: relative;
		z-index: 1;
	}
	// .reasons__list
	&__list {
		display: flex;
		align-items: stretch;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin: 0 -20px;
	}
	// .reasons__item
	&__column {
		flex: 1 0 274px;
		padding: 0px 20px 61px 20px;
		&--help {
			overflow: hidden !important;
			visibility: hidden !important;
			opacity: 0 !important;
			height: 0 !important;
			max-height: 0 !important;
			min-height: 0 !important;
			padding-top: 0 !important;
			padding-bottom: 0 !important;
			margin-top: 0 !important;
			margin-bottom: 0 !important;
		}
	}
}

.reason {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	padding: 21px 0px 0px 0px;
	position: relative;
	overflow: hidden;
	@media (min-width: 992px) {
		&:hover::before {
			left: 99%;
			transform: translateX(-100%);
		}
	}
	// .reason__number
	&__number {
		margin-bottom: 18px;
		font-weight: 900;
		font-size: 36px;
		line-height: 1.28;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #e31e24;
		position: relative;
		z-index: 2;
	}
	// .reason__title
	&__title {
		margin-bottom: 15px;
		font-weight: 900;
		font-size: 24px;
		line-height: 1.42;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #000000;
		position: relative;
		z-index: 2;
	}
	// .reason__subtitle
	&__subtitle {
		font-size: 16px;
		line-height: 26px;
		letter-spacing: 0.05em;
		position: relative;
		z-index: 2;
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 14px;
		width: 113px;
		height: 199px;
		background: url("../img/arrow-reasons.svg") 0 0 no-repeat;
		transition: left 1s ease, transform 1s ease;
	}
}

// Events ===========================================================================================

.events {
	background: #ebebeb;
	padding-top: 98px;
	padding-bottom: 118px;
	// .events__container
	&__container {
	}
	// .events__title
	&__title {
		max-width: 846px;
		margin-bottom: 66px;
	}
	// .events__list
	&__list {
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
		margin: 0px -19px 20px -19px;
	}
	// .events__column
	&__column {
		flex: 1 0 510px;
		// flex: 1 0 500px;
		padding: 0px 19px 39px 19px;
	}
}

.tabs {
	// .tabs__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 57px;
	}
	// .tabs__item
	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 79px;
		padding: 10px 58px;
		margin-bottom: 20px;
		font-weight: bold;
		font-size: 18px;
		line-height: 2.56;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #fefefe;
		background: #c4c4c4;
		border-radius: 100px;
		cursor: pointer;
		transition: background-color 0.3s;
		@media (min-width: 992px) {
			&:hover {
				background: #ca0006;
			}
		}

		&:not(:last-child) {
			margin-right: 42px;
		}

		&.active {
			background: #e31e24;
			color: #fefefe;
		}
	}
	// .tabs__body
	&__body {
	}
	// .tabs__block
	&__block {
		display: none;

		&.active {
			display: block;
		}
	}
	// .tabs__btn-load
	&__btn-load {
		display: block;
		margin: 0 auto;
		font-weight: bold;
		font-size: 16px;
		line-height: 30px;
		letter-spacing: 0.05em;
		text-decoration-line: underline;
		text-transform: uppercase;
		color: #e31e24;
	}
}

.event {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 30px 30px 40px 30px;
	background: #ffffff;
	box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.1);
	position: relative;

	&--past {
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(196, 196, 196, 0.2);
			z-index: 2;
			pointer-events: none;
		}
	}
	// .event__top
	&__top {
		padding-left: 39px;
		position: relative;
	}
	// .event__content
	&__content {
		display: flex;
		flex-direction: column;
		margin-top: -69px;
		flex: 1 1 auto;
	}
	// .event__data
	&__data {
		font-weight: 900;
		font-size: 18px;
		line-height: 1.44;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #000000;
		transform-origin: 0 0;
		transform: rotate(-90deg);
		position: absolute;
		top: 67%;
		left: 0;
		z-index: 2;
	}
	// .event__image
	&__image {
		padding-bottom: 63%;
		position: relative;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			font-family: "object-fit: cover; object-position: center;";
		}
	}
	// .event__number
	&__number {
		margin-bottom: 20px;
		font-weight: 900;
		font-size: 96px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #e31e24;
		position: relative;
		z-index: 2;
	}
	// .event__title
	&__title {
		margin-bottom: 23px;
		font-weight: bold;
		font-size: 24px;
		line-height: 1.08;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #000000;
	}
	// .event__subtitle
	&__subtitle {
		margin-bottom: 35px;
		line-height: 26px;
		letter-spacing: 0.05em;
		flex: 1 1 auto;
	}
	// .event__links
	&__links {
		display: flex;
		justify-content: space-between;
	}
	// .event__link
	&__link {
		padding-bottom: 2px;
		font-weight: bold;
		font-size: 16px;
		line-height: 1.62;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #000;
		border-bottom: 4px solid #000;
		transition: color 0.3s, border-bottom 0.3s;
		@media (min-width: 992px) {
			&:hover {
				color: #e31e24;
				border-bottom: 4px solid #e31e24;
			}
		}
		&--about {
			color: #c4c4c4;
			border-bottom: 4px solid #c4c4c4;
			@media (min-width: 992px) {
				&:hover {
					color: #000;
					border-bottom: 4px solid #000;
				}
			}
		}
	}
	// .event__link--about
}

// Partners ============================================================================

.partners {
	padding-top: 125px;
	padding-bottom: 131px;
	// .partners__container
	&__container {
		display: flex;
	}
	// .partners__content
	&__content {
		max-width: 507px;
		margin-right: 135px;
	}
	// .partners__title
	&__title {
		margin-bottom: 78px;
	}
	// .partners__subtitle
	&__subtitle {
		font-size: 20px;
		line-height: 1.5;
		letter-spacing: 0.05em;
		color: #2c2c2c;

		&:not(:last-child) {
			margin-bottom: 27px;
		}

		&--bold {
			font-weight: bold;
		}
	}
	// .partners__btn
	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 378px;
		padding: 10px 15px;
		min-height: 82px;
		margin-top: 60px;
		background: #ffffff;
		border: 2px solid #e31e24;
		border-radius: 100px;
		font-weight: bold;
		font-size: 30px;
		line-height: 1;
		letter-spacing: 0.05em;
		color: #e31e24;
		transition: all 0.3s;
		@media (min-width: 992px) {
			&:hover {
				background: #ca0006;
				color: #fefefe;
				border-color: #ca0006;
			}
		}
	}
	// .partners__animate
	&__animate {
		flex: 1 1 auto;
		margin-right: calc((100vw - 100%) / -2);
		overflow: hidden;
	}
	// .partners__row
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		transform: translateX(100%);
		position: relative;

		&:nth-child(1) {
		}

		&:nth-child(2) {
			animation-delay: 1s;
		}

		&:nth-child(3) {
			animation-delay: 2s;
		}

		// animation-name: logo;
		animation-duration: 6s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in;

		&:not(:last-child) {
			margin-bottom: 62px;
		}

		&--evenly {
			justify-content: space-evenly;
		}
	}
	// .partners__link
	&__link {
	}
}

// News ===========================================================================================

.news {
	background: url("../img/news__bg.jpg") 0 0 / cover no-repeat;
	// .news__container
	&__container {
		display: flex;
	}
	// .news__content
	&__content {
		padding-top: 149px;
		padding-bottom: 234px;
	}
	// .news__links
	&__links {
		display: flex;
	}
	// .news__title
	&__title {
		margin-bottom: 86px;
	}
	// .news__vk
	&__vk {
		width: 370px;
		margin-right: 40px;
		border-radius: 5px;
		overflow: hidden;
	}
	// .news__inst
	&__inst {
	}
	// .news__decor
	&__decor {
		display: flex;
		flex: 1 1 auto;
		position: relative;
	}
	// .news__ropes
	&__ropes {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin-right: calc((100vw - 1600px) / -2);
		overflow: hidden;
		&::before {
			content: "";
			position: absolute;
			top: -20px;
			left: 104px;
			width: 100%;
			max-width: 88px;
			padding-bottom: 37.3%;
			background: url("../img/rope-1.png") 0 0 / contain no-repeat;
			transform-origin: top center;
			transform: rotate(-20deg);
			animation: rope 2s ease-in-out infinite alternate;
		}
		&::after {
			content: "";
			position: absolute;
			top: -10px;
			right: 19%;
			width: 100%;
			max-width: 104px;
			padding-bottom: 89%;
			background: url("../img/rope-2.png") 0 0 / contain no-repeat;
			transform-origin: top center;
			transform: rotate(-10deg);
			animation: rope-2 2s ease-in-out 0.5s infinite alternate;
		}
	}
	// .news__men
	&__men {
		width: 465px;
		margin-left: 196px;
		background: url("../img/news-men.png") 0 0 / contain no-repeat;
		margin-bottom: -100px;
		transition: transform 2s ease;
		position: relative;
		z-index: 1;
		&.transform {
			transform: translateX(100px);
		}
	}
}

.inst {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	max-width: 370px;
	padding: 49px 38px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	@media (min-width: 992px) {
		&:hover::before {
			background: rgba(0, 0, 0, 0.2);
		}
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.4);
		transition: background-color 0.3s;
	}
	// .inst__logo
	&__logo {
		width: 45px;
		height: 45px;
		background: url("../img/news-inst-svg.svg") 0 0 / contain no-repeat;
		position: relative;
		z-index: 1;
	}
	// .inst__title
	&__title {
		margin-top: 13px;
		font-weight: bold;
		font-size: 20px;
		line-height: 1.5;
		text-transform: uppercase;
		color: #fefefe;
		position: relative;
		z-index: 1;
	}
	// .inst__id
	&__id {
		margin-top: 49px;
		font-weight: bold;
		font-size: 32px;
		line-height: 0.56;
		text-transform: uppercase;
		color: #fefefe;
		position: relative;
		z-index: 1;
	}
}

// Footer ==================================================================================

.footer {
	padding-top: 33px;
	padding-bottom: 43px;
	// .footer__container
	&__container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	&__left {
		display: flex;
		align-items: center;
		margin-right: 129px;
		margin-bottom: 30px;
	}
	// .footer__logo
	&__logo {
		width: 153px;
		height: 164px;
		margin-right: 39px;
		position: relative;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
			font-family: "object-fit: contain;";
		}
	}
	// .footer__title
	&__title {
		flex: 0 1 269px;
		max-width: 269px;
		font-weight: bold;
		font-size: 24px;
		line-height: 1.42;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #2c2c2c;
	}
	// .footer__text-block
	&__text-block {
		max-width: 306px;
		margin-right: 94px;
		margin-bottom: 30px;
	}
	// .footer__text
	&__text {
	}
	// .footer__privacy
	&__privacy {
		color: #e31e24;
		text-decoration: underline;
		cursor: pointer;
	}
	// .footer__dev
	&__dev {
		max-width: 306px;
		margin-bottom: 30px;
		a {
			color: #000000;
			text-decoration: underline;
		}
	}
}

// Media ===========================================================================================

@import "_media.scss";
