.about-ev {
  position: relative;
  // .about-ev__container
  &__container {
    display: flex;
    justify-content: space-between;
  }
  // .about-ev__main
  &__main {
    max-width: 1137px;
  }
  // .about-ev__top
  &__top {
    margin-bottom: 31px;
  }
  // .about-ev__text
  &__text {
    margin-bottom: 40px;
    p,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    ol,
    table {
      margin-bottom: 20px;
      @media (max-width: 992px) {
        @include adaptiv(margin-bottom, 20, 15, 992, 320);
      }
    }
  }
  // .about-ev__grid
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(253px, 1fr));
    grid-column-gap: 112px;
    grid-row-gap: 40px;
    margin-bottom: 118px;
  }
  // .about-ev__column
  &__column {
  }
  // .about-ev__item
  &__item {
    height: 100%;
  }
  // .about-ev__schema
  &__schema {
  }
  // .about-ev__aside
  &__aside {
  }
}
.item-about {
  display: flex;
  flex-direction: column;
  &::before {
    content: "";
    width: 11px;
    height: 11px;
    margin-bottom: 20px;
    background: #d60007;
    border-radius: 100%;
  }
  // .item-about__title
  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
  }
  // .item-about__list
  &__list {
  }
  // .item-abo ut__item
  &__item {
    padding-left: 11px;
    font-size: 18px;
    line-height: lh(26, 18);
    letter-spacing: 0.05em;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0.5em;
      left: 0;
      width: 2px;
      height: 2px;
      border-radius: 100%;
      background-color: #000;
    }
  }
}
.schema {
  // .schema__title
  &__title {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.42;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
  }
  // .schema__image
  &__image {
  }
}

.ev-about {
  // .ev-about__animate
  &__animate {
    // min-width: 1920px;
    margin: 0 auto;
  }
  // .ev-about__row
  &__row {
    font-size: 0;
    position: relative;
    height: 376px;
    @media (max-width: 1200px) {
      height: 313px;
    }
    @media (max-width: 992px) {
      height: 274px;
    }
    @media (max-width: 768px) {
      height: 245px;
    }
    @media (max-width: 576px) {
      height: 195px;
    }
    @media (max-width: 425px) {
      height: 133px;
    }
    &:last-child {
      .ev-about__moving-block {
        animation-delay: 1s;
      }
    }
  }
  // .ev-about__moving-block
  &__moving-block {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 100%;
    height: 100%;
    animation-name: logo;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    &--helper {
      left: 100%;
    }
  }
  // .ev-about__image
  &__image {
    flex: 1 0 480px;
    width: 480px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (max-width: 1200px) {
      flex: 1 0 400px;
      width: 400px;
    }
    @media (max-width: 992px) {
      flex: 1 0 350px;
      width: 350px;
    }
    @media (max-width: 768px) {
      flex: 0 0 350px;
      width: 350px;
    }
    @media (max-width: 576px) {
      flex: 1 0 250px;
      width: 250px;
    }
    @media (max-width: 425px) {
      flex: 1 0 170px;
      width: 170px;
    }
  }
  // .ev-about__moving-block--helper
  &__moving-block--helper {
  }
}

.ev-video {
  // .ev-video__container
  &__container {
    padding-top: 96px;
    padding-bottom: 92px;
  }
  // .ev-video__flex
  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1151px;
  }
  // .ev-video__left
  &__left {
    margin-right: 50px;
    flex: 0 1 643px;
  }
  // .ev-video__video
  &__video {
    display: block;
    position: relative;
    padding-bottom: 100%;
    border-radius: 100%;
    overflow: hidden;
    // height: 643px;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
    }
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  // .ev-video__control
  &__control {
    position: absolute;
    top: 38%;
    left: 43%;
    max-width: 159px;
    z-index: 1;
    &::before {
      content: "";
      display: block;
      width: 129px;
      height: 149px;
      background: url("../img/ev-video-control.svg") center / contain no-repeat;
    }
  }
  // .ev-video__control-text
  &__control-text {
    margin-top: 33px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
  }
  // .ev-video__right
  &__right {
    max-width: 331px;
  }
  // .ev-video__title
  &__title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.42;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    @media (max-width: 992px) {
      @include adaptiv(font-size, 24, 15, 992, 320);
      @include adaptiv(margin-bottom, 30, 15, 992, 320);
    }
  }
  // .ev-video__text
  &__text {
    p {
      font-size: 20px;
      line-height: 1.5;
      letter-spacing: 0.05em;
      &:not(:last-child) {
        margin-bottom: 25px;
        @media (max-width: 992px) {
          @include adaptiv(margin-bottom, 25, 15, 992, 320);
        }
      }
      @media (max-width: 992px) {
        @include adaptiv(font-size, 20, 15, 992, 320);
      }
    }
  }
}
